<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>774370360981-a4h9d1ji97opj7bl048ec6r87psklvvp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.774370360981-a4h9d1ji97opj7bl048ec6r87psklvvp</string>
	<key>API_KEY</key>
	<string>AIzaSyCnjaKm3AI1VkviPFkN28gpvU9thowuFP8</string>
	<key>GCM_SENDER_ID</key>
	<string>774370360981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.highdev.bbtalk</string>
	<key>PROJECT_ID</key>
	<string>ffaso-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ffaso-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:774370360981:ios:0cce87deebf1636328659c</string>
</dict>
</plist>